<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Disease Prediction System</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>

<body class="body">
  {% include 'navbar.html'%}
  <div class="container my-4 mt-4">
    <h6>About Developers and Mentor</h6>
    <h5>Meet the Developers</h5>

    <div class="introduction">
      <h6>Ayush Tripathi - 20368</h6>
      <p>
        Hello, I'm Ayush Tripathi, co-developer of this Web App and I'm
        fresher in this field. passionate about harnessing the power of
        technology to make a positive impact on people's lives. Allow me to
        share a bit about my journey in the world of Python language, it's
        frameworks and IT.
      </p>

      <h6>Rishbh Srivastava - 20374</h6>
      <p>
        Hello, I'm Rishabh Srivastava, co-developer of this Web App and I'm
        fresher in the field of AI and ML. passionate about harnessing the
        power of technology to make a positive impact on people's lives
        through my knowledge. Allow me to share a bit about my journey in the
        world of Information Technology.
      </p>

      <h6>Priyambada Modanwal - 20372</h6>
      <p>
        Hello, I'm Priyambada Modanwal, co-developer of this Web App and I'm
        fresher in the field of development. passionate about harnessing the
        power of technology to make a positive impact on people's life. Allow
        me to share a bit about my journey in the world of Technology.
      </p>
    </div>

    <h5>Our Expertise</h5>
    <p>
      With a strong academic background in Computer Science and Information
      Technology and a deep fascination for technology and ML, I embarked on a
      journey that has taken me across the globe, working on diverse and
      innovative projects. Over the years, I've had the privilege of
      collaborating on international projects that have pushed the boundaries
      of what's possible in AI and ML.
    </p>
    <h5>A Commitment to Excellence</h5>
    <p>
      My work is driven by a commitment to excellence and a belief that
      technology should be accessible and beneficial to everyone. Whether it's
      developing predictive models, creating intelligent algorithms, or
      designing user-friendly interfaces, I strive for solutions that are both
      cutting-edge and user-centric.
    </p>
    <h5>Passion for Health Tech</h5>
    <p>
      The development of Disease Prediction System represents a convergence of
      my passion for Technology and my dedication to improving healthcare
      accessibility. I believe that AI has the potential to transform the way
      we approach healthcare, making it more personalized and informative.
      This platform is a testament to that vision.
    </p>
    <h5>Join Me on this Journey</h5>
    <p>
      I invite you to explore Disease Prediction System and experience
      firsthand the fusion of Technology and healthcare. Together, we can
      empower individuals with knowledge, promote well-being, and contribute
      to a brighter and healthier future.
    </p>
  </div>
  <footer class="footer">
    <div>
      <p>Do not use any medicine without Doctors priscription.</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>