<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Disease Prediction System</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>

<body class="body">
  {% include 'navbar.html'%}
  <div class="container my-4 mt-4">
    <h6>About the Developers and Mentor</h6>
    <h5>Meet the Developers</h5>

    <div class="introduction">
      <h6>Ayush Tripathi - 20368</h6>
      <p>
        Hi, I'm Ayush Tripathi, a co-developer of this web application. I'm a newcomer in this field, driven by a
        passion for using technology to positively impact people's lives. Let me share a bit about my journey in Python,
        its frameworks, and the broader IT landscape.
      </p>

      <h6>Rishabh Srivastava - 20374</h6>
      <p>
        Hi, I'm Rishabh Srivastava, a co-developer of this web application. I'm a fresh entrant in the fields of AI and
        ML, with a strong desire to use my knowledge to make a meaningful difference. Allow me to share a bit about my
        journey in Information Technology.
      </p>

      <h6>Priyambada Modanwal - 20372</h6>
      <p>
        Hi, I'm Priyambada Modanwal, a co-developer of this web application. As someone new to the development field,
        I'm passionate about leveraging technology to enhance people's lives. Let me share a bit about my journey in the
        world of technology.
      </p>
    </div>

    <h5>Our Expertise</h5>
    <p>
      With a solid academic background in Computer Science and Information Technology, coupled with a deep interest in
      technology and machine learning, I've embarked on a journey that has allowed me to work on diverse and innovative
      projects. Over the years, I've had the privilege of collaborating on international projects that push the
      boundaries of AI and ML.
    </p>

    <h5>A Commitment to Excellence</h5>
    <p>
      My work is driven by a commitment to excellence and a belief that technology should be both accessible and
      beneficial to everyone. Whether developing predictive models, creating intelligent algorithms, or designing
      user-friendly interfaces, I strive to deliver solutions that are both cutting-edge and user-centric.
    </p>

    <h5>Passion for Health Tech</h5>
    <p>
      The development of the Disease Prediction System is a result of my passion for technology and dedication to
      improving healthcare accessibility. I believe that AI has the potential to transform healthcare, making it more
      personalized and informative. This platform reflects that vision.
    </p>

    <h5>Join Me on this Journey</h5>
    <p>
      I invite you to explore the Disease Prediction System and experience the synergy between technology and
      healthcare. Together, we can empower individuals with knowledge, promote well-being, and contribute to a brighter,
      healthier future.
    </p>
  </div>

  <footer class="footer">
    <div>
      <p>Always consult a doctor before taking any medication or treatment.</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>