<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disease Prediction System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


</head>




<body class="body">

    {% include 'navbar.html' %}


    <!-- main form of page -->
    <h1 class="mt-4 my-4 text-center text-green">Disease Prediction and Remedy Suggestion</h1>
    <div class=" main-container container my-4 mt-4">
        <form action="/predict" method="post">
            <div class="form-group">
                <label for="symptoms" style="color: #198754; font-size: 20px;">Enter Symptoms:</label>
                <input type="text" class="form-control" , id="symptoms" name="symptoms"
                    placeholder="select one or more symptoms from the below list">
            </div>
            {% if predicted_disease %}
            <p><strong>Selected symptoms:- </strong>{{symptoms}}</p>
            <p><strong>Predicted Disease:- </strong>{{predicted_disease}},<em> for more details scroll down to the outcomes section</em></p>
            {% endif %}
            <br>


            <!-- <button type="button" id="startSpeechRecognition" class="btn btn-primary" style="margin-left:3px;border:1px solid white; border-radius:20px;">
            Start Speech Recognition
        </button> -->

            {% if message %}
            <p class="if-message">
                {{ message }}
            </p>
            {% endif %}

            <h3>Symptoms List</h3>
            <div class="list-container" id="list-container">
                <ul class="sym-list">
                    {% for item in items %}
                    <li class="sym-list-item" id="sym-list-item" onclick="toggleSymptom(this, '{{item}}')">
                        {{ item }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <button type="submit" class="btn btn-success btn-lg predict-btn"
                style="width: 100%; padding: 14px; margin-top: 16px; margin-bottom: 5px;">Predict The Disease</button>
        </form>
    </div>



    <!-- Results -->


    {% if predicted_disease %}

    <div class="container">
        <div class="result-container">
            <!-- Buttons to toggle display -->
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#diseaseModal">Disease</button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#descriptionModal">Description</button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#precautionModal">Precaution</button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#medicationsModal">Medications</button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#workoutsModal">Workouts</button>
            <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#dietsModal">Diets</button>
        </div>
    </div>

    {% endif %}


    <!-- Disease Modal -->
    <div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"> <!-- Set header background color inline -->
                    <h5 class="modal-title" id="diseaseModalLabel">Predicted Disease</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"> <!-- Set modal body background color inline -->
                    <p>{{ predicted_disease }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Description Modal -->
    <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ dis_des }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Precaution Modal -->
    <div class="modal fade" id="precautionModal" tabindex="-1" aria-labelledby="precautionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="precautionModalLabel">Precaution</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in my_precautions %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <!-- Medications Modal -->
    <div class="modal fade" id="medicationsModal" tabindex="-1" aria-labelledby="medicationsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="medicationsModalLabel">Medications</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in medications %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Workouts Modal -->
    <div class="modal fade" id="workoutsModal" tabindex="-1" aria-labelledby="workoutsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="workoutsModalLabel">Workouts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in workout %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Diets Modal -->
    <div class="modal fade" id="dietsModal" tabindex="-1" aria-labelledby="dietsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dietsModalLabel">Diets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for i in my_diet %}
                        <li>{{ i }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div>
            <p>Always consult a doctor before taking any medication or treatment.</p>
        </div>
    </footer>



    <script>

        // symptom Input function code

        // function addToInput(symptom){
        //     const input= document.getElementById('symptoms');
        //     if(input.value){
        //         input.value += ', '+symptom;
        //     } else{
        //         input.value= symptom
        //     }
        // }

        // Symptoms toggleFunction code 

        function toggleSymptom(element, symptom) {
            const input = document.getElementById('symptoms');
            let symptoms = input.value.split(',').map(s => s.trim()).filter(s => s); // Split and trim

            if (symptoms.includes(symptom)) {
                symptoms = symptoms.filter(s => s !== symptom);
                element.classList.remove('active');
            } else {
                symptoms.push(symptom);
                element.classList.add('active');
            }

            input.value = symptoms.join(', ');
        }


        const startSpeechRecognitionButton = document.getElementById('startSpeechRecognition');
        const transcriptionDiv = document.getElementById('transcription');

        startSpeechRecognitionButton.addEventListener('click', startSpeechRecognition);

        function startSpeechRecognition() {
            const recognition = new webkitSpeechRecognition(); // Use webkitSpeechRecognition for compatibility

            recognition.lang = 'en-US'; // Set the language for recognition

            recognition.onresult = function (event) {
                const result = event.results[0][0].transcript;
                transcriptionDiv.textContent = result;
            };

            recognition.onend = function () {
                console.log('Speech recognition ended.');
            };

            recognition.start();
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>